	*{ margin: 0;
		}
	html , body{ width: 100%; height: 100%; overflow: hidden; 
		background-color: #fff9f9;}
		
	#topBar-wrap{ width: 100%; height: 75px;
		background-color: #333333;}
@media screen and (min-width: 1225px) {
		#topBar{display: block; width: 1225px; height: 75px; margin: auto auto; position: relative;
			background-color: transparent;}
}
@media screen and (max-width: 1225px) {
		#topBar{display: block; width: 100%; height: 75px; min-width: 500px; margin: auto auto; position: relative;
			background-color: transparent;}
}
			#title{ display: inline-block; color: white; font-size: 250%; position: relative; margin-top: 1%;
				background-color: transparent;}
			.toolBarBtn{display: inline-block; float: right; color: white; width: 64px; height: 64px; text-align: center; margin-left:5px; margin-top: .5%;
				background-color: #666666;}
			.toolBarBtn:hover{display: inline-block; float: right; color: white; width: 64px; height: 64px; text-align: center; margin-left:5px; margin-top: .5%;
				background-color: #777777;}
@media screen and (min-width: 1225px) {
			#inRadius { display: block; float: right; color: white; width: 64px; height: 64px; text-align: center; margin-left:5px; margin-top: .5%;
				background-color: transparent;}
}
@media screen and (max-width: 1225px) {
			#inRadius { display: inline-block; float: right; color: white; width: 64px; height: 64px; text-align: center; margin-left:5px; margin-top: .5%;
				background-color: transparent;}
}
			#btnStart{ margin-right: 20px;
				}
				.toolBarText{clear:both; width: 100%; height: 100%; position: relative; top:  35%;}
				#userRadiusText{ clear:both; width: 100%; height: 100%; position: relative; top:  35%;
					background-color: transparent;}
	
	#body-wrap{ display: block; width: 100%; height: 100%; overflow-x: scroll;
		background-color: transparent;}
		#mainCanvas-wrap{ box-shadow: 0px 0px 5px #888888; width: 1200px; height: 1750px; margin: 0 auto; margin-top: 25px;
			background-color: #FFFFFF;}
			#mainCanvas{ display: block; margin: auto auto; position: relative;
				background-color: #F8F8F8;}
@media screen and (min-width: 1225px) {
		#endScene{display: none; position: fixed; width: 100%; height: 100%; top: 75px; text-align: center;
			background-color: #ffffff; opacity: 0.75; color: #333333;}
}
@media screen and (max-width: 1225px) {
		#endScene{display: none; position: fixed; width: 100%; height: 100%; top: 75px; text-align: center;
			background-color: #ffffff; opacity: 0.75; color: #333333;}
}
			#endScene > div{ display:inline-block; position: relative; top: 35%; font-size: 300%;
			}
			#credits{ font-size: 50%;
				}
}				

		
			